{% extends 'base.html' %}
    {% block content %}
        <div class="container">
            
            <div>
                <h4>Registration Form</h4>
                <form action="." method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>
                            {{ field.label_tag }} <br>
                            {{ field }}                            
                            {% for error in field.errors %}
                                {{ error }}
                            {% endfor %}
                        </p>
                    {%endfor%}
                    <button type="submit">Login</button>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        If you have account? <a class="m1-2" href="{% url 'login' %}">Login</a>
                    </small>
                </div>

            </div>

        </div>
        
    {% endblock %}