{% extends 'base.html' %}
    {% block content %}
        <div class="container">
            <button class="btn btn-primary">Create Test Category</button>
            
          <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                    {% if field.help_text %}
                    <p class="help"> {{ field.help_text|safe }} </p>
                    {% endif %}

                </div>               
                
            {% endfor %}    
            <div class="form-group">
                <input type="submit" role="button" value="Submit">
            </div>     
            
          </form>        

        </div>
        
    {% endblock %}